{
  "root": true,
  "extends": "@react-native-community",
  "rules": {
    "comma-dangle": "off",
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "default-case": ["error"],
    "newline-after-var": ["error", "always"],
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": false
      }
    ],
    "react-native/no-inline-styles": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  }
}
